In [2]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.2.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 20.3 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.2-py2.py3-none-any.whl size=281824025 sha256=84ae05df3351d691d0789cadbcf9b35b022d229a0f0f41a044735b5e5772ac6d
  Stored in directory: /root/.cache/pip/wheels/b1/59/a0/a1a0624b5e865fd389919c1a10f53aec9b12195d6747710baf
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.2

In [6]:
from pyspark.sql.functions import *
movies_cast=movies.select(explode(split(col("Genres"),'\\|')).alias("Genres"))
movies_cast.select('Genres').distinct().show(100,False)

NameError: ignored

In [23]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
spark = SparkSession.builder.master("local[1]").appName("SparkByExamples.com").getOrCreate()

In [24]:
df=spark.read.options(delimiter='::').csv("/content/sample_data/movies.csv")
movies=df.withColumnRenamed('_c0','movieid').withColumnRenamed('_c1','title').withColumnRenamed('_c2','genre')
movies_cast=movies.select(explode(split(col("genre"),'\\|')).alias("Genres"))
movies_cast.select('Genres').distinct().show(100,False)

+-----------+
|Genres     |
+-----------+
|Crime      |
|Romance    |
|Thriller   |
|Adventure  |
|Children's |
|Drama      |
|War        |
|Documentary|
|Fantasy    |
|Mystery    |
|Musical    |
|Animation  |
|Film-Noir  |
|Horror     |
|Western    |
|Comedy     |
|Action     |
|Sci-Fi     |
+-----------+

In [17]:

from pyspark.sql import SparkSession

spark = SparkSession.builder.master("spark://localhost:7077").appName("demo").getOrCreate()

Py4JJavaError: ignored

In [25]:
df=spark.read.options(delimiter='::').csv("/content/sample_data/movies.csv")
movies=df.withColumnRenamed('_c0','movieid').withColumnRenamed('_c1','title').withColumnRenamed('_c2','genre')
movies.show(10,False)
movies.createOrReplaceTempView('movies')

+-------+----------------------------------+----------------------------+
|movieid|title                             |genre                       |
+-------+----------------------------------+----------------------------+
|1      |Toy Story (1995)                  |Animation|Children's|Comedy |
|2      |Jumanji (1995)                    |Adventure|Children's|Fantasy|
|3      |Grumpier Old Men (1995)           |Comedy|Romance              |
|4      |Waiting to Exhale (1995)          |Comedy|Drama                |
|5      |Father of the Bride Part II (1995)|Comedy                      |
|6      |Heat (1995)                       |Action|Crime|Thriller       |
|7      |Sabrina (1995)                    |Comedy|Romance              |
|8      |Tom and Huck (1995)               |Adventure|Children's        |
|9      |Sudden Death (1995)               |Action                      |
|10     |GoldenEye (1995)                  |Action|Adventure|Thriller   |
+-------+----------------------------------+----------------------------+
only showing top 10 rows

In [26]:
df=spark.read.options(delimiter='::').csv("/content/sample_data/users.csv")
users=df.withColumnRenamed('_c0','userid').withColumnRenamed('_c1','gender').withColumnRenamed('_c2','age').withColumnRenamed('_c3','occupation').withColumnRenamed('_c2','zip-code')
users.show(10,False)

+------+------+---+----------+-----+
|userid|gender|age|occupation|_c4  |
+------+------+---+----------+-----+
|1     |F     |1  |10        |48067|
|2     |M     |56 |16        |70072|
|3     |M     |25 |15        |55117|
|4     |M     |45 |7         |02460|
|5     |M     |25 |20        |55455|
|6     |F     |50 |9         |55117|
|7     |M     |35 |1         |06810|
|8     |M     |25 |12        |11413|
|9     |M     |25 |17        |61614|
|10    |F     |35 |1         |95370|
+------+------+---+----------+-----+
only showing top 10 rows

In [27]:
df=spark.read.options(delimiter='::').csv("/content/sample_data/ratings.csv")
ratings=df.withColumnRenamed('_c0','userid').withColumnRenamed('_c1','movieid1').withColumnRenamed('_c2','rating').withColumnRenamed('_c3','timestamp')
ratings.show(10,False)

+------+--------+------+---------+
|userid|movieid1|rating|timestamp|
+------+--------+------+---------+
|1     |1193    |5     |978300760|
|1     |661     |3     |978302109|
|1     |914     |3     |978301968|
|1     |3408    |4     |978300275|
|1     |2355    |5     |978824291|
|1     |1197    |3     |978302268|
|1     |1287    |5     |978302039|
|1     |2804    |5     |978300719|
|1     |594     |4     |978302268|
|1     |919     |4     |978301368|
+------+--------+------+---------+
only showing top 10 rows

In [28]:
new=ratings.join(movies,ratings.movieid1 == movies.movieid,"inner")
top_viewed=new.groupby("movieid",'title').agg(count("*").alias("top_viewed_movies")).sort(desc("top_viewed_movies")).show(10,False)

+-------+-----------------------------------------------------+-----------------+
|movieid|title                                                |top_viewed_movies|
+-------+-----------------------------------------------------+-----------------+
|2858   |American Beauty (1999)                               |3428             |
|260    |Star Wars: Episode IV - A New Hope (1977)            |2991             |
|1196   |Star Wars: Episode V - The Empire Strikes Back (1980)|2990             |
|1210   |Star Wars: Episode VI - Return of the Jedi (1983)    |2883             |
|480    |Jurassic Park (1993)                                 |2672             |
|2028   |Saving Private Ryan (1998)                           |2653             |
|589    |Terminator 2: Judgment Day (1991)                    |2649             |
|2571   |Matrix, The (1999)                                   |2590             |
|1270   |Back to the Future (1985)                            |2583             |
|593    |Silence of the Lambs, The (1991)                     |2578             |
+-------+-----------------------------------------------------+-----------------+
only showing top 10 rows

In [ ]:
movies_cast=movies.select(col('movieid'),col('title'),explode(split(col("genre"),'\\|')).alias("Genres"))
genre_count=movies_cast.groupby('Genres').agg(count('*').alias("genre_count")).show(100,False)

In [ ]:
tt=movies.filter(col('title').rlike("[0-9a-zA-Z]*$")).count()
print(tt)

3883

In [ ]:
extract_year= movies.withColumn("year", regexp_extract(col("title"), r"\(([^()]+)\)$", 1));
latest_release=extract_year.sort(col("year").desc())
latest_release.show(100,True)

In [31]:
movies.createOrReplaceTempView("movies")
ratings.createOrReplaceTempView("ratings")
users.createOrReplaceTempView("users")
extract_year.createOrReplaceTempView("extract_year")
spark.sql("select * from movies m join ratings r on m.movieid=r.movieid1 ").show()

+-------+--------------------+--------------------+------+--------+------+---------+
|movieid|               title|               genre|userid|movieid1|rating|timestamp|
+-------+--------------------+--------------------+------+--------+------+---------+
|   1193|One Flew Over the...|               Drama|     1|    1193|     5|978300760|
|    661|James and the Gia...|Animation|Childre...|     1|     661|     3|978302109|
|    914| My Fair Lady (1964)|     Musical|Romance|     1|     914|     3|978301968|
|   3408|Erin Brockovich (...|               Drama|     1|    3408|     4|978300275|
|   2355|Bug's Life, A (1998)|Animation|Childre...|     1|    2355|     5|978824291|
|   1197|Princess Bride, T...|Action|Adventure|...|     1|    1197|     3|978302268|
|   1287|      Ben-Hur (1959)|Action|Adventure|...|     1|    1287|     5|978302039|
|   2804|Christmas Story, ...|        Comedy|Drama|     1|    2804|     5|978300719|
|    594|Snow White and th...|Animation|Childre...|     1|     594|     4|978302268|
|    919|Wizard of Oz, The...|Adventure|Childre...|     1|     919|     4|978301368|
|    595|Beauty and the Be...|Animation|Childre...|     1|     595|     5|978824268|
|    938|         Gigi (1958)|             Musical|     1|     938|     4|978301752|
|   2398|Miracle on 34th S...|               Drama|     1|    2398|     4|978302281|
|   2918|Ferris Bueller's ...|              Comedy|     1|    2918|     4|978302124|
|   1035|Sound of Music, T...|             Musical|     1|    1035|     5|978301753|
|   2791|    Airplane! (1980)|              Comedy|     1|    2791|     4|978302188|
|   2687|       Tarzan (1999)|Animation|Children's|     1|    2687|     3|978824268|
|   2018|        Bambi (1942)|Animation|Children's|     1|    2018|     4|978301777|
|   3105|   Awakenings (1990)|               Drama|     1|    3105|     5|978301713|
|   2797|          Big (1988)|      Comedy|Fantasy|     1|    2797|     4|978302039|
+-------+--------------------+--------------------+------+--------+------+---------+
only showing top 20 rows

In [32]:
spark.sql("select year,count(year) from extract_year group by year ").show()

+----+-----------+
|year|count(year)|
+----+-----------+
|1953|         14|
|1957|         20|
|1987|         71|
|1956|         19|
|1936|          8|
|1958|         22|
|1943|         10|
|1972|         22|
|1931|          7|
|1988|         69|
|1938|          6|
|1926|          8|
|1932|          7|
|1977|         22|
|1971|         26|
|1984|         60|
|1982|         50|
|1941|         11|
|1919|          3|
|2000|        156|
+----+-----------+
only showing top 20 rows

In [36]:
spark.sql("select rating,count(movieid1) as movies_count_by_rating from ratings group by rating").show()

+------+----------------------+
|rating|movies_count_by_rating|
+------+----------------------+
|     3|                261197|
|     5|                226310|
|     1|                 56174|
|     4|                348971|
|     2|                107557|
+------+----------------------+

In [38]:
spark.sql("select movieid1,avg(rating) from ratings group by movieid1").show()

+--------+------------------+
|movieid1|       avg(rating)|
+--------+------------------+
|    2294| 3.483720930232558|
|    1090| 4.090113735783027|
|     296| 4.278212805158913|
|    2136|3.1486486486486487|
|    3210|3.8374717832957113|
|     467|3.2037037037037037|
|    2088|  2.59447983014862|
|     691|3.0991735537190084|
|     829|2.2900763358778624|
|    2162|2.4124293785310735|
|    3414|              3.26|
|    2069|3.7857142857142856|
|    3606| 3.940828402366864|
|    2904| 3.764705882352941|
|    1572| 3.730769230769231|
|    1436| 2.888888888888889|
|    1372|3.4095904095904097|
|    1394|  4.02092050209205|
|     800| 4.082539682539682|
|    3826|2.5382716049382714|
+--------+------------------+
only showing top 20 rows

In [40]:
spark.sql("select movieid1,count(userid) from ratings  group by movieid1 ").show()

+--------+-------------+
|movieid1|count(userid)|
+--------+-------------+
|    2294|          645|
|    1090|         1143|
|     296|         2171|
|    2136|          222|
|    3210|          886|
|     467|           54|
|    2088|          471|
|     691|          121|
|     829|          131|
|    2162|          177|
|    3414|           50|
|    2069|          140|
|    3606|          169|
|    2904|           17|
|    1572|           26|
|    1436|            9|
|    1372|         1001|
|    1394|         1434|
|     800|          630|
|    3826|          405|
+--------+-------------+
only showing top 20 rows